

// ++++++++++ Form Element

form {
  display: flex;
  flex-wrap: wrap;
  margin-left: - rem(8);
  margin-right: - rem(8);
}

.views-exposed-form {
  margin-top: rem(24);
  margin-bottom: rem(24);
}

.form--inline {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}