

// +++++++++ General Form Elements

figure {
  @include reset;
  margin-bottom: rem(16);

  img {
    width: 100%;
  }
}

label {
  margin-bottom: rem(10);
  font-weight: $bold;
}

input,
textarea {
  margin: 0;
}

textarea {
  vertical-align: top;
}