

// ++++++++++ Fieldset Elements

fieldset.form-item {
  flex: 1 1 100%;
  margin-left: rem(8);
  margin-right: rem(8);
  padding: rem(5) rem(12) rem(10) rem(12);
  border-radius: 4px;

  legend {
    font-size: rem(16);
  }
}

.fieldset-wrapper {
  margin-left: - rem(8);
  margin-right: - rem(8);
}