
// @theme palette  ==============================================


// Primary

$brand-primary-1: #00A851; // Neutral Green
$brand-primary-2: #5E6A71; // Blue-ish Grey
$brand-primary-3: #007ECF; // Neutral Blue
$brand-primary-4: #003359; // Dark Blue
$brand-primary-5: #7AB800; // Light Green


// @greyscale palette  ==============================================

$black: #000;
$white: #fff;
$darkest-grey:   #333333;
$darker-grey:    #414042;
$dark-grey:      #565859;
$neutral-grey:   #6E7272; // ( Lightest accessible grey with white text )
$light-grey:     #BBBAB9;
$light-grey-alt: #CDCFD0; // More Blue
$lighter-grey:   #eff0f1;
$lightest-grey:  #F5F7FA;


// Descriptive Colours

$red: #D6132B;
$yellow: #FFD424;
$green: #88E422;
$blue: #005CA6;


// Gold

$gold-light: #FFED73;
$gold-mid: #ECD221;
$gold-mid-dark: #C1A206;
$gold-dark: #453403;


// Link Colour

$link-colour: $brand-primary-3;