
// +++++ PX To Em Converter ============================================

// This PX to EM converter function can be used to convert pixels to ems


$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{strip-unit($pixels)/$context}em;
}
