
// +++++ PX To Rem Converter ============================================

// This PX to REM converter function can be used to convert pixels to rems


$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{math.div(strip-unit($pixels), $context)}rem;
}
