

.view-cards {
  @include layout-container();
  display: block;
  overflow: hidden;

  .view-content {
    display: flex;
    margin-left: -1em;
    margin-right: -1em;
  }

  .views-row {
    flex: 1 1 30%;
    display: block;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
  }

  article {
    background-color: $white;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    padding: 1em;

    * {
      color: $darkest-grey;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}