

// ++++++++++ Reset List Formatting ===============

@mixin reset-list() {
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;

  li {
    margin-bottom: 0;
    padding-left: 0;
    list-style-image: none;
    list-style-type: none;
    list-style: none;
  }
}