

// +++++++++++ Footer Nav

.menu--footer {

  h2 {
    color: $white;
  }

  .menu {
    @include reset-list();
    margin-bottom: 0;
    display: flex;

    li {
      flex: 0 0 auto;
    }

    a {
      display: block;
      color: $white;
      font-size: rem(12);
      font-weight: $regular;
      text-decoration: none;
      padding: rem(16) rem(20);
      border: 1px solid transparent;

      &:hover,
      &:focus {
        outline: none;
        text-decoration: none;
        border-color: $white;
      }
    }
  }
}