

// ++++++++++ Layout Container Mixin

@mixin layout-container() {
  max-width: map-get($container-max-widths, sm);
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(30);
  padding-right: rem(30);

  @include breakpoint($m-break) {
    max-width: map-get($container-max-widths, md);
  }

  @include breakpoint($l-break) {
    max-width: map-get($container-max-widths, lg);
    padding-left: rem(50);
    padding-right: rem(50);
  }
}
