

// ++++++++++ Profile Images that appear in lists

@mixin profile-image-list() {
  position: relative;
  padding: rem(15) rem(10) rem(15) rem(45);

  @include breakpoint($s-break) {
    padding: rem(15) rem(20) rem(15) rem(55);
  }

  // === Image Field

  &::before {
    @include profile-image--placeholder();
    content: '';
    width: rem(32);
    height: rem(32);

    @include breakpoint($s-break) {
      width: rem(36);
      height: rem(36);
    }
  }

  .field--name-field-photo,
  &::before {
    position: absolute;
    top: 50%; left: rem(5);
    transform: translateY(-50%);
  }

  .field--name-field-photo {
    img {
      border-radius: $radius-100;
      max-width: rem(32);
      border: 1px solid $brand-primary-2;

      @include breakpoint($s-break) {
        max-width: rem(36);
      }
    }
  }
}