

// ++++++++++ Sidebar First Layout

.layout--twocol-sidebar-first {

  .layout__region--first {
    @include breakpoint($m-break) {
      flex: 0 1 33%;
      max-width: 33%;
    }
  }

  .layout__region--second {
    @include breakpoint($m-break) {
      flex: 1 1 67%;
      max-width: 67%;
    }
  }
}
