{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<button id="toggle-icon" class="toggle responsive-menu-toggle-icon hamburger hamburger--squeeze" title="Menu" href="#off-canvas" aria-controls="off-canvas" aria-expanded="false">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  <span class="label">{{ 'Menu'|t }}</span>
</button>
