

// ++++++++++ Search Toggle UI Element

.block-search-toggle {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-right: -1px;

  .search-toggle {
    position: relative;
    transition: all 0.2s;
    font-size: 0;
    background-image: none;
    background-color: transparent;
    width: rem(54);
    height: rem(54);
    padding: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;

    &:hover,
    &:focus {
      border-color: $brand-primary-1;

      .icon {
        fill: $brand-primary-1;
      }
    }

    &:focus {
      outline: none;
    }

    &.open {
      .icon--search {
        visibility: hidden;
      }

      .icon--close {
        visibility: visible;
      }
    }

    svg {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      width: rem(22);
      height: auto;
    }

    .icon {
      transition: fill 0.2s;
      fill: $black;
    }

    .icon--search {
      visibility: visible;
    }

    .icon--close {
      visibility: hidden;
    }
  }
}
