
// @breakpoints ==============================================
// these can be updated to suit the site

$xxxs-break: 23.4375em;     // 375px
$xxs-break: 25em;           // 400px
$xxs-break-max: 31.1875em;  // 499px max
$xs-break: 31.25em;         // 500px
$xs-break-max: 35.9375em;   // 557px max
$s-break: 36em;             // 558px
$s-break-max: 47.9375em;    // 767px max
$m-break: 48em;             // 768px
$m-break-max: 61.9375em;    // 991px max
$l-break: 62em;             // 992px
$l-break-max: 74.9375em;    // 1199px max
$xl-break: 75em;            // 1200px

$layout-container-pre: 76.8125em; // 1229px
$layout-container: 76.875em; // 1230px
