
// @theme palette  ==============================================


// Primary

$brand-primary-1: #0C1E37; // Dark Navy
$brand-primary-2: #D8232A; // Brand Red

$brand-secondary-1: #3D456D; // Dark Neutral Violet
$brand-secondary-2: #6672B0; // Neutral Violet
$brand-secondary-3: #3B55D5; // Vibrant Violet
$brand-secondary-4: #3B55D5; // Vibrant Violet Light


// @greyscale palette  ==============================================

$black:            #000000;
$white:            #ffffff;
$grey-dark:        #17171A;
$grey-neutral:     #737487;
$grey:             #8E919F;
$grey-alt:         #BDBFC7;
$grey-light:       #D0D2D9;
$grey-xlight:      #E8E9ED;
$grey-xxlight:     #F2F3F7;


// Descriptive Colours

$debug-red: rgb(160, 0, 0);
$debug-yellow: #FFD424;
$debug-green: rgb(0, 160, 0);
$debug-blue: rgb(0, 0, 160);


// Link Colour

$link-colour: #337AB7; // Neutral blue

// Shadow Color
$shadow: rgba($black, 0.5);