
// @theme palette  ==============================================


// Primary

$brand-primary-1: #CF2035; // Brand Red
$brand-primary-2: #282828; // Charcoal

$brand-secondary-1: #6E6A70; // Pebble Grey
$brand-secondary-2: #E5E5E5; // Light Grey
$brand-secondary-3: #F8F8F8; // Off-white


// @greyscale palette  ==============================================

$black:            #000000;
$white:            #ffffff;
$grey-dark:        #17171A;
$grey-neutral:     #737487;
$grey:             #8E919F;
$grey-alt:         #BDBFC7;
$grey-light:       #D0D2D9;
$grey-xlight:      #E8E9ED;
$grey-xxlight:     #F2F3F7;


// Descriptive Colours

$debug-red: rgb(160, 0, 0);
$debug-yellow: #FFD424;
$debug-green: rgb(0, 160, 0);
$debug-blue: rgb(0, 0, 160);


// Link Colour

$link-colour: #337AB7; // Neutral blue

// Shadow Color
$shadow: rgba($black, 0.5);
