

// ++++++++++ Add To Calendar Button

.field--name-field-add-to-calendar {
  .addtocalendar {
    .atcb-link {
      @include btn(tertiary, small);
      line-height: rem(16);

      em {
        font-style: normal;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }

    .atcb-list {
      border: 1px solid $grey-xlight;
      box-shadow: 1px 1px 10px rgba(0,0,0,0.1);

      &::before {
        @include triangle(top, $grey-xlight, 0.5em);
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, -100%);
      }

      &::after {
        @include triangle(top, $white, 0.5em);
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translate(-50%, -100%);
      }

      li {
        margin-left: 0;
        margin-bottom: 0;

        a {
          padding: rem(8) rem(10);
        }
      }
    }
  }
}