

// ++++++++++ Grid gutter modifiers

@mixin gutter-large($breakpoint: $m-break) {
  @include breakpoint($breakpoint) {
    margin-left: - rem(16);
    margin-right: - rem(16);
  }

  & > div[class*="col-"] {
    @include breakpoint($breakpoint) {
      padding-left: rem(16);
      padding-right: rem(16);
    }
  }
}