

// ++++++++++ Freeze the page scroll

html.main-nav--active,
body.main-nav--active {
  height: 100%;
  overflow: hidden;
}

html.no-scroll {
  @include no-scroll();
}


// ++++++++++ Vertical page layout sectioning

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}


// ++++++++++ General Layout Rules

// ===== Layout parents (first level)

.layout {

  // ===== Layout Columns

  & > .layout__region {
    max-width: 100%;

    & .draggable {
      cursor: move;
    }
  }
}


// ===== Main Region

// #main {
//   flex: 1 1 100%;

//   @include breakpoint($m-break) {
//     flex: 1 1 0%;
//   }
// }


// ++++++++++ Page Title Adjacent layout block title balancing

.block-page-title-block + .block-system-main-block {
  .layout--onecol:first-child .block > h2 {
    margin-top: 0;
    padding-top: 0;
  }
}
