
input[type="text"],
input[type="password"] {
  border-radius: 5px;
  border: 1px solid white;
  padding: 0.5em 0.8em;
  color: black;

  &:focus {
    outline: none;
    border-color: $brand-primary-1;
  }
}