

// ++++++++++ Checkboxes


// ===== Form Item

.js-form-type-checkbox {
  display: flex;
  flex-wrap: wrap;

  // Description

  .description {
    flex: 1 1 100%;
    margin-top: 0;
  }
}


// ===== Input

input[type="checkbox"] {
  @include visually-hidden();
  opacity: 0;

  & + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      transition: $default-transition;
      content: '';
      flex: 0 0 auto;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid $grey;
      margin-right: rem(7);
      border-radius: $radius-2;
      background-color: $white;

      background-image: url('#{$icon-path}/checkmark--white.svg');
      background-repeat: no-repeat;
      background-position: center 48%;
      background-size: 0%;
    }
  }


  // === Checked

  &:checked + label {
    &::before {
      background-color: $grey-dark;
      background-size: 75%;
      border-color: $grey-dark;
    }
  }
}


// ===== Checkbox Focus

input[type="checkbox"]:focus + label::before {
  outline: 1px solid $brand-primary-1;
}
